.card-info{
  padding-bottom:14px;
  border-bottom:0.0625rem solid rgb(242, 230, 230);
}

.card-img{
  border-radius: 15px;
  height: 350px;
  padding: 25px 15px;
}

.main-card{
  border-radius: 15px;
  height: 100%;
}

.common-btn {
  display: inline-block;
  padding: 12px 32px;
  line-height: 30px;
  background-color: #8B008B;
  border: 1px solid #8B008B;
  color: white;
  font-size: 21px;
  /* letter-spacing: 1px; */
  font-weight: 700;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  -webkit-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.common-btn:hover {
  background-color: white;
  color:#800000;
}
