.input_field{
  height: 40px;
  padding-left: 20px;
  font-size: 18px; 
  font-weight: 600;
}

.add-item-container{
  height: 1000px;
}

@media only screen and (max-width:576px){
  .add-item-container{
    width: 100%;
  }
}