.footer{
  height: 80px;
  background-color: #7FFFD4;
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;
  font-weight: 700;
  
}

.social-icons{
  margin-right: 10px;
  color: rgb(181, 8, 8);
  cursor: pointer;
  font-size: 24px;
}

@media only screen and (max-width:576px){
  .footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
  }
}